<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/styles/styles.css">
  
</head>

<body>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">CrockPot Recipes</h1>
    <p class="lead">Mkae your meal prep easier with ideas using your crocpot. </p>
  </div>
  <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
</div>


  {{{body}}}


  <footer>
    <div id='copyright'>
      Copyright &copy 2019
    </div>
  </footer>
</body>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/index.js"></script>

</html>